@charset "UTF-8";

* {
  margin: 0;
}

title{
  font-family: 'Dancing Script';
  font-weight: 500;
  text-align: center;
  font-size: 4em;
}

header {
  background-color: #cedfe8;
  border-bottom: 2px solid #000;
}

a {
  text-decoration: none;
  padding: 2px;
  border-radius: 0.2rem;
  color: black;
  float: right;
  margin-right: 0.5rem;
}

.navbar {
  background-color: #ffbaba;
  border-radius: 0.2em;
  float: right;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #FFBABA;
  background-color: #FFBABA;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-left: 1px solid #cedfe8;
  border-right: 1px solid #cedfe8;
  font-family: "Nunito", sans-serif;
  font-size: larger;
}

footer {
  background-color: #cedfe8;
  border-bottom: 2px solid #000;
}

#footertitle {
  font-family: "Dancing Script", cursive;
  font-size: 1.7rem;
}

ul {
  list-style: none;
  margin-left: -2rem;
}

h1,
h3 {
  font-size: 2rem;
}



.titulos {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
}

.doces {
  background-color: #FFBABA;
  border-radius: 0.2em;
  font-size: 1.3rem;
}

.donuts {
  background-image: url(IMG/doughnuts-1868573_1920.jpg);
  background-size: cover;
  margin: 0;
  max-width: 100%;
  height: 300px;
  overflow: hidden;
}

.donuts img {
  width: 100%;
  height: auto;
}

img {
  width: 220px;
  height: 200px;
  margin-right: 10px;
  margin-left: 10px;
}

.logo {
  height: 150px;
  width: 150px;
  display: flex;
  order: -1;
  border-radius: 20%;
  margin-bottom: 10px; 
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container2 {
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

#brigadeiro{
  background: #ffbaba; 
  text-align: center;
  font-size: 1em;
}

@media (max-width:400px)
{
    .titulos{
        font-size: 1.5em;
    }

    .navbar{
      font-size: 0.7rem;
      margin-left: 0.2rem;
    }

}
