* {
    margin: 0;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-left: 1px solid #CEDFE8;
    border-right: 1px solid #CEDFE8;
    font-family: 'Nunito';
    font-weight: 600;
}

header {
    background-color: #CEDFE8;
    border-bottom: 2px solid #000;
    margin-bottom: 0.5rem;
}

#logo {
    height: 150px;
    width: 150px;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    border: 1px solid #FFBABA;
    background-color: #FFBABA;
    padding: 2px;
    border-radius: 0.2rem;
    color: black;
    font-size: 1.2rem;
}

h1 {
    font-family: 'Dancing Script';
    font-weight: 500;
    text-align: center;
    font-size: 4em;
}


nav {
    float: right;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.navbar {
    background-color: #ffbaba;
    border-radius: 0.2em;
    float: right;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #FFBABA;
    background-color: #FFBABA;
}


h1 {
    font-family: 'Dancing Script';
    font-weight: 500;
    text-align: center;
    font-size: 4em;
}


#salgado {
    background-image: url(IMG/carne.jfif);
    background-size: cover;
    margin: 0;
    max-width: 100%;
    height: 300px;
    overflow: hidden;
    width: 100%;
    height: auto;
}



.texto-cliente {
    font-family: 'Dancing Script';
    font-size: 2.9rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
}

.salgados {
    background-color: #FFBABA;
    border-radius: 0.2em;
    font-size: 1.3rem;
}

#ul-1 {
    list-style: none;
    margin-left: -2rem;
}

footer {
    background-color: #CEDFE8;
    border-top: 2px solid #000000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

#titulo-footer {
    text-align: center;
    font-size: 25px;
}

i {
    float: right;
    margin-right: 0.8rem;
}

ul {
    list-style: none;
    margin-left: -2rem;
    font-size: 1.2rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#titulo-principal {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
}

@media (max-width:400px) {

    #titulo-principal {
        font-size: 1.8em;
    }

    .navbar {
        font-size: 0.7rem;
        margin-left: 0.2rem;
    }

}